* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-background-color: #E2E8CE;

    --tasks-background-color: #E2E8CE;

    --create-task-button-background-color: #262626;
    --create-task-button-text-color: #E2E8CE;

    --clear-all-tasks-button-background-color: #485696;
    --clear-all-tasks-button-text-color: #E7E7E7;

    --tasks-container-background-color: #ACBFA4;
    
    --task-background-color: #262626;
    --task-text-color: #E2E8CE;

    --task-tag-background-color: #F0F4EF;
    --task-tag-text-color: #0D1821;


    --delete-task-background-color: #FF8112;
    --delete-task-text-color: #262626;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--body-background-color);
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

#buttons {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    gap: 1rem;
}

.buttons {
    border-style: none;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
}

#create-task-button {
    background-color: var(--create-task-button-background-color);
    color: var(--create-task-button-text-color);
}

#clear-tasks-button {
    background-color: var(--clear-all-tasks-button-background-color);
    color: var(--clear-all-tasks-button-text-color);
}

#tasks {
    background-color: var(--tasks-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--tasks-container-background-color);
    width: 70vw;
    height: 100vh;
}

#tasks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
}

.task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.task {
    background-color: var(--task-background-color);
    color: var(--task-text-color);
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem;
}
.task:first-child {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.task:last-child {
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.task-tag {
    background-color: var(--task-tag-background-color);
    color: var(--task-tag-text-color);
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
}

.task-tags-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1em;
}

.delete-task {
    background-color: var(--delete-task-background-color);
    color: var(--delete-task-text-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}