* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-background-color: #E2E8CE;

    --tasks-background-color: #E2E8CE;

    --create-task-button-background-color: #262626;
    --create-task-button-text-color: #E2E8CE;

    --tasks-container-background-color: #ACBFA4;

    --task-background-color: #262626;
    --task-text-color: #E2E8CE;

    --delete-task-background-color: #FF8112;
    --delete-task-text-color: #262626;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--body-background-color);
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

#tasks {
    background-color: var(--tasks-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--tasks-container-background-color);
    width: fit-content;
    height: 100vh;
}


#create-task-button {
    background-color: var(--create-task-button-background-color);
    color: var(--create-task-button-text-color);
    border-style: none;
    font-size: 2rem;
    width: 40vw;
    padding: 1rem;
    border-radius: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
}

#tasks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
}

.task {
    background-color: var(--task-background-color);
    color: var(--task-text-color);
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task:first-child {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.task:last-child {
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.delete-task {
    background-color: var(--delete-task-background-color);
    color: var(--delete-task-text-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}